<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Machine Learning Model</title>
</head>
<body>
    <h1>Machine Learning Model</h1>
    <form action="/predict" method="post">
        <!-- Input fields for all 30 features -->
        {% for column in columns %}
            <label for="{{ column }}">{{ column }}</label>
            <input type="text" id="{{ column }}" name="{{ column }}"><br>
        {% endfor %}

        <input type="submit" value="Predict">
    </form>
</body>
</html>
